<div class="col-9" style="margin-top: 5%; margin-left: 10%">
  <h1 class="title">Learning outcomes</h1>
  <p class="text-justify" style="font-size: large">
    Learning outcomes are specific and clear statements of what students are
    expected to learn and be able to demonstrate at the completion of their
    course of study (Ramsden, 2003). They are typically expressed in terms of
    knowledge, skills and attitudes to be acquired to satisfy the educational
    need for which the course has been developed. Note that the term “learning
    outcome” is often interchanged with the term "learning objective". Learning
    outcomes are written to guide what the student is expected to do and achieve
    in the course, thus aiming for a student-centred perspective.
  </p>
  <h1 class="title">Why use learning outcomes?</h1>
  <p class="text-justify" style="font-size: large">
    Learning outcomes that are well written can serve to:
    <li>Guide for the design of your course (activities and assessment) .</li>
    <li>
      Be used as a reference point to remind students how a topic or a concept
      relates to the bigger picture .
    </li>
    <li>
      Provide a link to ensuring alignment with graduate outcomes that focus on
      higher order thinking such as critical thinking and problem solving .
    </li>
    Learning outcomes need to be assessable; that is, you must be able to
    observe an action or be able to measure or evaluate the learners’
    performance to determine whether the knowledge, skill or attitude has been
    attained.
  </p>
  <div class="row" style="margin-top: 5%; margin-bottom: 5%">
    <img
      style="width: 50%; margin-left: 25%"
      src="../../../../assets/images_trainer/learingOutcomes.png"
    />
  </div>
  <h1 class="title">
    How can Bloom's Taxonomy Help with Writing Learning outcomes?
  </h1>
  <p class="text-justify" style="font-size: large">
    Bloom’s is a taxonomy of educational objectives. This taxonomy defines
    levels of objectives in 3 domains:
    <li>Cognitive (knowledge based)</li>
    <li>Affective (emotive based)</li>
    <li>Psychomotor (action based)</li>
  </p>
  <p class="text-justify" style="font-size: large">
    Educational activities include setting learning objectives for students,
    assessing students and delivering instruction. An alignment between these
    activities is necessary: We should ensure that we are assessing the students
    on required learning objectives. The instruction should be directed towards
    helping student achieve those learning objectives. Bloom’s taxonomy provides
    one way to create and classify these educational activities and check for
    alignment between them. By providing a hierarchy, it provides a sense of
    difficulty/complexity of educational activities. It has been persistently
    used from 1956 by teachers, policy-makers, learning technology developers
    around the world.
  </p>

  <div class="row" style="margin-top: 5%; margin-bottom: 5%">
    <img
      style="width: 70%; margin-left: 15%"
      src="../../../../assets/images_trainer/bloom.PNG"
    />
  </div>

  <p class="text-justify" style="font-size: large">
    The levels in cognitive domain are as follows according to revised Bloom’s
    taxonomy .This is a hierarchy and each level subsumes the ones below it.
    Often the activities are listed as verbs that could be included in questions
    asked of students or used to develop activities
  </p>
  <div style="margin-top: 5%; margin-bottom: 5%">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><b
              >Level 6 : <span style="color: #694598">Create</span>
            </b></mat-panel-title
          >
          <mat-panel-description>
            Combine parts to make (new) whole, creative behaviours, propose
            plans .
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div style="background-color: rgb(0 0 0 / 5%); padding: 2%">
          <p>
            <b>Example :</b> Create working models to demonstrate Newton’s laws
            of motion .
          </p>
          <p>
            <b>Action verbs :</b> Create, invent, compose, predict, plan,
            construct, design, imagine, propose, devise, formulate, combine,
            hypothesize, originate, add to, forecast .
          </p>
          <p>
            <b>Sample questions stems :</b>
            <li>Can you design a ... to ...?</li>
            <li>Why not compose a song about...?</li>
            <li>Can you see a possible solution to...?</li>
            <li>
              If you had access to all resources how would you deal with...?
            </li>
            <li>Why don't you devise your own way to deal with...?</li>
            <li>What would happen if...? How many ways can you...?</li>
            <li>Can you create new and unusual uses for...?</li>
            <li>Can you write a new recipe for a tasty dish?</li>
            <li>Can you develop a proposal which would...?</li>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><b>Level 5 : <span style="color: #2172b6">Evaluate</span> </b>
          </mat-panel-title>
          <mat-panel-description>
            Judge value based on criteria, decision making .
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div style="background-color: rgb(0 0 0 / 5%); padding: 2%">
          <p>
            <b>Example :</b> Evaluate a given free body diagram for a given
            physical scenario .
          </p>
          <p>
            <b>Action verbs :</b> Judge, select, choose, decide, justify,
            debate, verify, argue, recommend, assess, discuss, rate, prioritize,
            determine, weigh, critique, evaluate, defend .
          </p>
          <p>
            <b>Sample questions stems :</b>
            <li>Is there a better solution to...?</li>
            <li>Judge the value of....</li>
            <li>Can you defend your position about...?</li>
            <li>Do you think ... is a good or a bad thing?</li>
            <li>How would you have handled...?</li>
            <li>What changes to ... would you recommend?</li>
            <li>Do you believe …?</li>
            <li>Are you a ... person?</li>
            <li>How would you feel if...?</li>
            <li>How effective are...?</li>
            <li>What do you think about...?</li>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><b>Level 4 : <span style="color: #2cb266">Analyze</span></b>
          </mat-panel-title>
          <mat-panel-description>
            Separate whole into parts until structure of whole and relationship
            between parts is clear. laws, principles .
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div style="background-color: rgb(0 0 0 / 5%); padding: 2%">
          <p>
            <b>Example :</b> Analyze a physical scenario and find the relative
            magnitude of forces acting upon the object in the scenario .
          </p>
          <p>
            <b>Action verbs :</b> Analyze, distinguish, examine, compare,
            contrast, investigate categorize, identify, explain, separate,
            advertise, take apart, differentiate, subdivide, deduce .
          </p>
          <p>
            <b>Sample questions stems :</b>
            <li>If ... happened, what might the ending have been?</li>
            <li>How was this similar to...?</li>
            <li>What was the underlying theme of...?</li>
            <li>What do you see as other possible outcomes?</li>
            <li>Why did ... changes occur?</li>
            <li>Can you compare your ... with that presented in...?</li>
            <li>Can you explain what must have happened when...?</li>
            <li>What are some of the problems of...?</li>
            <li>Can you distinguish between...?</li>
            <li>What were some of the motives behind...?</li>
            <li>What was the turning point in the game?</li>
            <li>What was the problem with...?</li>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><b>Level 3 : <span style="color: #f0ed78">Apply</span> </b>
          </mat-panel-title>
          <mat-panel-description
            >Use knowledge in a new situation. Involves rules, methods, laws,
            principles .</mat-panel-description
          >
        </mat-expansion-panel-header>

        <div style="background-color: rgb(0 0 0 / 5%); padding: 2%">
          <p>
            <b>Example :</b> Use the formula of s = ut + ½ at2 to solve a
            problem .
          </p>
          <p>
            <b>Action verbs : </b> Solve, show, use, illustrate, construct,
            complete, examine, classify, choose, interpret, make, change, apply,
            produce, translate, calculate, manipulate, modify .
          </p>
          <p>
            <b>Sample questions stems :</b>
            <li>Do you know another instance where...?</li>
            <li>Could this have happened in...?</li>
            <li>Can you group by characteristics such as...?</li>
            <li>What factors would you change if...?</li>
            <li>
              Can you apply the method used to some experience of your own...?
            </li>
            <li>What questions would you ask of...?</li>
            <li>
              From the information given, can you develop a set of instructions
              about...?
            </li>
            <li>Would this information be useful if you had...?</li>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><b>Level 2 : <span style="color: #f5963b">Understand</span></b>
          </mat-panel-title>
          <mat-panel-description>
            Grasp meaning, explain, interpret, translate, paraphrase .
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="background-color: rgb(0 0 0 / 5%); padding: 2%">
          <p>
            <b>Example :</b> Describing the concept of uniform circular motion .
          </p>
          <p>
            <b>Action verbs :</b> Explain, interpret, outline, discuss,
            distinguish, predict, restate, translate, compare, describe, relate,
            generalize, summarize, paraphrase, convert, demonstrate, visualize,
            find out more information about .
          </p>
          <p>
            <b>Sample questions stems :</b>
            <li>Can you write in your own words...?</li>
            <li>Can you write a brief outline...?</li>
            <li>What do you think could have happened next...?</li>
            <li>Who do you think...?</li>
            <li>What was the main idea...?</li>
            <li>Can you distinguish between...?</li>
            <li>What differences exist between...?</li>
            <li>Can you provide an example of what you mean...?</li>
            <li>Can you provide a definition for...?</li>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><b>Level 1 : <span style="color: #be222b">Remember</span></b>
          </mat-panel-title>
          <mat-panel-description>
            Recognize, recall facts .
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="background-color: rgb(0 0 0 / 5%); padding: 2%">
          <p><b>Example :</b> Recalling Newton’s laws of motion</p>
          <p>
            <b>Action verbs :</b> Tell, list, describe, relate, locate, write,
            find, state name, identify, label, recall, define, recognize, match,
            reproduce, memorize, draw, select, write, recite .
          </p>
          <p>
            <b>Sample questions stems :</b>
            <li>What happened after...?</li>
            <li>How many...?</li>
            <li>Who was it that...?</li>
            <li>Can you name the...?</li>
            <li>Describe what happened at....</li>
            <li>Who spoke to...?</li>
            <li>Can you tell why...?</li>
            <li>Find the meaning of....</li>
            <li>What is...?</li>
            <li>Which is true or false...?</li>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
