<div class="container home" style="margin-top: 5em">
  <div class="container row">
    <div class="col-6">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>
            <a routerLink="/trainerSpace/course" style="color: rgb(7, 41, 77)"
              >Create Courses</a
            ></mat-card-title
          >
          <mat-card-subtitle>Begin your course</mat-card-subtitle>
          <img
            mat-card-md-image
            class="cardImg"
            src="../../../../assets/images_courses_per_categorie/create_course.jpg"
          />
        </mat-card-title-group>
        <mat-card-content>
          <p>Create your courses</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title
            ><a
              routerLink="/trainerSpace/becomeInstructor"
              style="color: rgb(7, 41, 77)"
              >How Become Instructor</a
            ></mat-card-title
          >
          <mat-card-subtitle
            >Follow steps and methodologys proposed</mat-card-subtitle
          >
          <img
            mat-card-md-image
            class="cardImg"
            src="../../../../assets/images_courses_per_categorie/become_instructor.jpg"
          />
        </mat-card-title-group>
        <mat-card-content> Use best practices </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row container" style="margin-top: 5em">
    <div class="col-9">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title
            ><a
              routerLink="/trainerSpace/takenCourses"
              style="color: rgb(7, 41, 77)"
              >Courses management</a
            ></mat-card-title
          >
          <mat-card-subtitle>Manage your courses</mat-card-subtitle>
          <img
            mat-card-md-image
            class="cardImg"
            src="../../../../assets/images_courses_per_categorie/manage_courses.gif"
          />
        </mat-card-title-group>
        <mat-card-content> Manage your courses </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!--begin conseil-->
  <div class="conseil container">
    <div class="text-conseil">
      <p>
        Whether you have years of experience or this is your first foray into
        teaching,you can deliver a captivating lesson. We've put together
        resources and best practices to help you get ahead,no matter where
        you're starting from.
      </p>
    </div>
  </div>
  <!--end conseil-->
  <!--begin Icon-->
  <div class="row container" style="margin-top: 5em; margin-bottom: 5em">
    <div class="col-4">
      <mat-card class="example-card cardIcon">
        <mat-card-header>
          <mat-list-item routerLink="/trainerSpace/course">
            <mat-icon matListIcon class="icon-home">library_add</mat-icon>
            <h4 matLine class="icon-text-home">Course</h4>
          </mat-list-item>
        </mat-card-header>
        <mat-card-content>
          <p>Develop your course with a magic touch</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card cardIcon">
        <mat-card-header>
          <mat-list-item routerLink="/trainerSpace/becomeInstructor">
            <mat-icon matListIcon class="icon-home">school</mat-icon>
            <h4 matLine class="icon-text-home">Instructor</h4>
          </mat-list-item>
        </mat-card-header>
        <mat-card-content>
          <p>Discover the best practices for teaching on courzelo</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card cardIcon">
        <mat-card-header>
          <mat-list-item routerLink="/trainerSpace/takenCourses">
            <mat-icon matListIcon class="icon-home">import_contacts</mat-icon>
            <h4 matLine class="icon-text-home">Management</h4>
          </mat-list-item>
        </mat-card-header>
        <mat-card-content>
          <p>Manage your running and teaching progress</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!--end Icon-->
</div>
