
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700');

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-style: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}



a:focus,
input:focus,
textarea:focus,
button:focus {
   text-decoration: none;
   outline: none;
}

a:focus,
a:hover{
   text-decoration: none;
}

i,
span,
a{
   display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   color: #1d2025;
   margin: 0px;
}

h1 {
   font-weight: 500;
}
h2 {
   font-size: 36px;
}
h3 {
   font-size: 28px;
}
h4 {
   font-size: 22px;
}
h5 {
   font-size: 18px;
}
h6 {
   font-size: 16px;
}
ul,ol {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
}

p {
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   color: #505050;
   margin: 0px;
}

.bg_cover{
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
}

/*===== All Button Style =====*/

.main-btn {
   display: inline-block;
   font-weight: 500;
   text-align: center;
   border: 1px solid #ffc600;
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   line-height: 30px;
   border-radius: 5px;
   color: #07294d;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   z-index: 5;
   -webkit-transition: 0.4s ease-in-out;
   transition: 0.4s ease-in-out;
   background-color: #ffc600;
   padding: 0px 10px;
   margin:5px;
}
.main-btn:hover{
   color: #ffc600;
   border-color: #07294d;
   background-color: #07294d;
}



.second-btn {
   display: inline-block;
   font-weight: 500;
   text-align: center;
   border: 1px solid #07294d;
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   line-height: 30px;
   border-radius: 5px;
   color: white;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   z-index: 5;
   -webkit-transition: 0.4s ease-in-out;
   transition: 0.4s ease-in-out;
   background-color: #07294d;
   padding: 0px 10px;
   margin:5px;
}
.second-btn:hover{
   color: #07294d;
   border-color: white;
   background-color: white;
}



/*===== Title Style =====*/


.section-title h3{
   color: #07294d;
   position: relative;
   padding-bottom: 12px;
   margin-top: 5%;
   margin-left: 8%;
   
   
}
.section-title h3::before{
   content: '';
   position: absolute;
   width: 65px;
   height: 3px;
   background-color: #ffc600;
   bottom: 0;
   left: 0;
}




button.mat-dialog-close{
   background-color:#eeeee4;
   color:black;
}



::ng-deep mat-dialog-container {
   background-color: #edf0f2 !important;
}


/*=====================================================
   31. form  css 
======================================================*/


.input-bar{
   margin-top: 3%;
   
}
.input-bar button.mat-icon-button mat-icon{
   margin-left: 650px;
   margin-top: -65px;
   background-color: transparent;  
   color: #07294d;  
}
.input-bar mat-form-field {
   height: 50px;
   width: 80%;
   padding: 0 20px;
   border: 1px solid #07294d;
   border-radius: 5px;
   color: #07294d;
   font-size: 15px;
   margin-bottom: 0px;
   margin-left: 10%;
   margin-right: -10%;
   
   
   
   
 }

 .Date-input-bar mat-form-field {
   height: 50px;
   width: 35%;
   padding: 0 20px;
   border: 1px solid #07294d;
   border-radius: 5px;
   color: #07294d;
   font-size: 15px;
   margin-bottom: 0px;
   margin-left: 10%;
   margin-right: 0%;
   margin-top: 3%;
 }

 .sm-input-bar mat-form-field {
   height: 50px;
   width: 35%;
   padding: 0 20px;
   border: 1px solid #07294d;
   border-radius: 5px;
   color: #07294d;
   font-size: 15px;
   margin-bottom: 0px;
   margin-left: 10%;
   margin-right: 0%;
   margin-top: 3%;
 }


 ::ng-deep .mat-form-field-underline {
   display: none;
}

::ng-deep .mat-form-field-hover {
   display: none;
}


.close-btn{
   margin-left: 95%;
   margin-top: -10%;
   margin-bottom: 5%;
   color:#07294d;
   
}

.close-btn:hover{
   color:#ffc600;
}
.example-form {
   min-width: 150px;
   max-width: 500px;
   width: 100%;
 }
 
 .example-full-width {
   width: 100%;
 }