<!--====== PAGE BANNER PART START ======-->

<section id="page-banner " class="pt-105 pb-110 bg_cover " data-overlay="8">
    <div class="layer"></div>
    <!--The blue top layer on the banner-->
    <div class="container">
        <div class="page-banner-cont">
            <h2>About Us</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About us</li>
                </ol>
            </nav>
        </div> <!-- page banner cont -->
    </div> <!-- container -->
</section>


<div class="gray-bg">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 descrip pt-40">
                <p>Let's get started and discover Courzelo for business </p>
            </div>
        </div>
        <div class="title section-title">
            <h4>About us</h4>
        </div>
        <section id="about-page" class="pt-70 pb-110 ">
            <mat-card class="right-card">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="section-title mt-50">
                                <h2 class="sub-title"> For recruteur </h2>
                            </div>
                            <div class="about-cont">
                                <p>Help you to hire the right people at the right place ,all through out the recrutement
                                    process.
                                    Grow your business fast and easily </p>
                            </div>
                        </div> <!-- content -->
                        <div class="col-lg-7">
                            <div class="about-image mt-50">
                                <img src="../../../../assets/CourzeloBusiness/images/recruteur.jpg" alt="About">
                            </div> <!--  image -->
                        </div>
                    </div> <!-- row -->
                </div>
            </mat-card>

            <mat-card class="left-card">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="about-image mt-50 ">
                                <img src="../../../../assets/CourzeloBusiness/images/condidate.jpg" alt="About">
                            </div> <!-- image -->
                        </div>
                        <div class="col-lg-5">
                            <div class="section-title mt-50">
                                <h2 class="sub-title"> For candidate </h2>
                            </div> <!-- section title -->
                            <div class="about-cont">
                                <p>Help you to hire the right people at the right place ,all through out the recrutement
                                    process.
                                    Grow your business fast and easily </p>
                            </div>
                        </div> <!--  content -->
                    </div> <!-- row -->
                </div>
            </mat-card>
        </section>
    </div>
</div>