<div class="section-title mt-50">
    <h3>Add section</h3>
  </div>
  
  <br>
  
  <div class="close-btn">
    <button mat-icon-button mat-dialog-close><mat-icon>cancel</mat-icon></button>
  </div>
 
  <form >

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput placeholder="title" name="title" [(ngModel)]="section.title"  >
    </mat-form-field>
   
  </form>
  
 
  
  <div mat-dialog-actions style="float: right">
    <button class="second-btn" mat-dialog-close>Close</button>
    <button class="second-btn" (click)="addSection()" >{{A}}</button>
    
  </div>
  
