
 <div class="section-title mt-50">
    <h3>Add interview</h3>
   </div> <!-- section title -->  


<div class="close-btn">
    <button mat-icon-button mat-dialog-close  ><mat-icon>cancel</mat-icon></button>   
</div>

<div class="diag-content">
<form id="add-form" #f="ngForm" [formGroup]="Form" autocomplete="off" novalidate>
    <div class="row">
        
        <mat-card class="card-title">
        <h5>Set interview</h5>
        </mat-card>
        <div class="col-lg-12">
            <div class="input-bar">
                <mat-form-field class="col-lg-12"> 
                    <input matInput placeholder="Room name" formControlName="roomName"   >
                </mat-form-field>    
            </div> <!-- singel form -->
        </div>
        

        <div class="col-lg-12">
            <div class="input-bar">
                <mat-form-field class="col-lg-12"> 
                    <input matInput type="datetime-local" placeholder="Time and Date" formControlName="interviewDate"  required  >
                    <mat-error *ngIf="hasError('interviewDate', 'required')">link Meet is necessary</mat-error>
                </mat-form-field>  
            </div> <!-- singel form -->
        </div>
   
    </div> <!-- row -->
</form>
</div>

<div mat-dialog-actions style="float:right;">
    <button  class="second-btn" mat-dialog-close  >Close</button>
    <button  class="second-btn" (click)="Reset()">Reset</button>
    <button  *ngIf="Form.valid" class="main-btn"  (click)="AddState()" >Done</button>
    <button  matTooltip="please complete the needed fields" *ngIf="!Form.valid" class="invalid-btn" (click)="validateAllFormFields(Form)" matTooltip="please complete the needed fields">Done</button>
  </div>

