<div class="container">
  <h1 class="title">Creating an engaging course</h1>

  <p class="text-justify">
    It is important to ensure that your course captures the attention of your
    participants in a well-structured, hands-on and rewarding learning
    experience. The most successful trainers spend time preparing the content
    for their course before they start recording it to ensure that their course
    helps participants achieve clear objectives.
  </p>
  <h1>Steps :</h1>
  <mat-card style="background-color: #d2e4f6">
    <h2>Step 1: Choose the topic for your course.</h2>
  </mat-card>
  <div class="stepDescription">
    <mat-icon class="icon">info</mat-icon>
    <p class="text-justify">
      Choose an area where you are an expert and would really like to teach .
    </p>
  </div>
  <mat-card style="background-color: #b1d1f1"
    ><h2>
      Step 2: Define your target participants and the learning objectives of
      your course
    </h2></mat-card
  >
  <div class="stepDescription">
    <mat-icon class="icon">info</mat-icon>
    <p class="text-justify">
      Before you start creating content for your course, it is important to
      determine who you are teaching and what your participants will learn or be
      able to accomplish at the end of your course. Find out more about
      questions to ask yourself about your participants and how to set clear
      learning goals.
    </p>
  </div>

  <mat-card style="background-color: #80b7ef">
    <h2>
      Step 3: Determine how participants will apply what you teach.
    </h2></mat-card
  >
  <div class="stepDescription">
    <mat-icon class="icon">info</mat-icon>
    <p class="text-justify">
      Online learners like to benefit from hands-on learning: they want to apply
      what they have learned through exercises, activities, case studies and
      more. You can integrate many types of hands-on activities into your course
      to create an engaging online learning experience.
    </p>
  </div>

  <mat-card style="background-color: #5b9fe4"
    ><h2>Step 4: Create your course frame.</h2></mat-card
  >
  <div class="stepDescription">
    <mat-icon class="icon">info</mat-icon>
    <p class="text-justify">
      The framework of your course is the foundation: you decide on the
      structure of the content of your course and how you organize it. If you
      prefer to use a predefined course frame, feel free to choose our 4MAT
      model.
    </p>
  </div>

  <mat-card style="background-color: #3686d8"
    ><h2>Step 5: Starting building your course.</h2></mat-card
  >
  <div class="stepDescription">
    <mat-icon class="icon">info</mat-icon>
    <p class="text-justify">
      Once you have all the information you need, you can proceed with creating
      the sections and phases of your course one by one.
    </p>
  </div>
</div>
