<div class="mainChoose">
  <div class="container">
    <div class="row justify-content-center">
      <button
        class="col-5 chooseBtn justify-content-center"
        (click)="customChoosenBtn(customChoosen)"
      >
        <h2>
          <span class="txtChoose">Customize your course</span>
        </h2>
        <h3>
          <span class="descriptionChoose">I'll do it my own way.</span>
        </h3>
      </button>
      <button
        class="col-5 chooseBtn justify-content-center"
        (click)="modelChoosenBtn(modelChoosen)"
      >
        <h2>
          <span class="txtChoose">Choose the 4MAT model</span>
        </h2>
        <h3>
          <span class="descriptionChoose">
            Use a systematic way to train all students to think and learn well.
          </span>
        </h3>
      </button>
    </div>
  </div>
</div>
