.section-title{}
.section-title h5{
    color: #07294d;
    position: relative;
    padding-bottom: 12px;
}
.section-title h5::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #ffc600;
    bottom: -70%;
    left: 0;
}

.softskills-card {
    margin: 0px 15px 15px 15px;
  }

 

.text-style{
  color: #ffc600;
  
}

