
  <br />
  <br />
  <div class="draganddrop" >
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let i of sections" cdkDrag  >
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
  
        <mat-expansion-panel class="matTab" [expanded]="step === 0" (opened)="setStep(0)"    hideToggle>
          <mat-expansion-panel-header style="height: 122px;">
          
            <mat-panel-description>
           {{i.postContent}}
              
            
            </mat-panel-description>
            <mat-panel-title> 
          
              <div>
  
                {{i.title}}
              </div>
    
                </mat-panel-title>
  
            
          </mat-expansion-panel-header>
          
         
         <br>
         <br>  
  
         <app-phase [idSection]="i.idSection"> </app-phase>
  
          <mat-action-row>
            <button mat-button color="primary" [disabled]="test" (click)="nextStep()">
              Close 
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </div>
  </div>