<div>
  <div class="col-9" style="margin-top: 5%; margin-left: 10%">
    <p class="text-justify" style="font-size: large">
      The <span style="font-weight: bold; color: #2d3a5b">4MAT</span> model was
      originally developed by Bernice McCarthy in 1980. It is based on research
      from many fields, but mainly is a synthesis of findings from the fields of
      learning styles, and right and left brain dominance.<br />It entails the
      use of right and left-mode strategies within four distinct phases of the
      learning cycle.<br />
      <span style="font-weight: bold; color: #808ba4"
        ><br />1 - Experiencing<br />
        2 - Conceptualising<br />
        3 - Applying<br />
        4 - Refining<br /></span
      ><br />
      - As an instructional design tool, 4MAT offers teachers and trainers a
      systematic way to train all learners to think and learn well.<br />
      - As a professional development tool, it provides a framework for
      assessing the quality of any learning experience. <br />
      - As an organizational model, it provides a method for creating an
      environment of continuous learning and development.<br />
    </p>
    <div class="row">
      <video
        src="../../../../assets/images_trainer/What-is-4MAT.m4v"
        preload="auto"
        controls=""
        style="width: 50%; margin-bottom: 5%; margin-top: 5%; margin-left: 25%"
      ></video>
    </div>
    <h2 class="title">Learning Styles</h2>
    <p class="text-justify" style="font-size: large">
      While all learners engage in all types of learning, most seem to have a
      preference for one particular type. We show you how to help people develop
      all four of these learning capacities.
    </p>
    <div class="row" style="margin-top: 5%; margin-bottom: 5%">
      <img
        style="width: 30%; margin-left: 35.5%"
        src="../../../../assets/images_trainer/Kolb_Phases/learningStylejpg.jpg"
      />
    </div>
    <h2 class="title">Perceiving and Processing</h2>
    <h3 class="subtitle">Perceiving</h3>
    <p class="text-justify" style="font-size: large">
      The ways people take in new information occurs in a wide variety of ways,
      all of which range between experience and conceptualisation.<br />Experience
      – Perception by personal engagement – sensations, emotions, physical
      memories, the immediate, the self. Being in it.<br />Conceptualisation –
      The translation of experience in conceptual forms – ideas, language,
      hierarchies, naming systems. An abstract approach to learning. Being apart
      from it.The interplay between the “feeling” of experience and the
      “thinking” of conceptualisation is crucial to the learning process. It
      connects the personal values and perceptions of learners to those of
      expert learners.
    </p>
    <div
      class="justify-content-center"
      style="margin-top: 5%; margin-bottom: 5%"
    >
      <img
        style="width: 39%; margin-left: 33%"
        src="../../../../assets/images_trainer/Kolb_Phases/introduction3.PNG"
      />
    </div>
    <h3 class="subtitle">Processing</h3>
    <p class="text-justify" style="font-size: large">
      What people do with new information also occurs in a wide variety of ways,
      all of which range between reflection and action.<br />Reflection –
      Transforming knowledge by structuring, ordering, intellectualising.<br />Action
      – Applying ideas to the external world, testing, doing, manipulating.
    </p>
    <div
      class="justify-content-center"
      style="margin-top: 5%; margin-bottom: 5%"
    >
      <img
        style="width: 60%; margin-left: 25%"
        src="../../../../assets/images_trainer/Kolb_Phases/introduction4.PNG"
      />
    </div>
    <h2 class="title">Right and Left Mode</h2>
    <p class="text-justify" style="font-size: large">
      We know, too, that learning involves interaction between the right and
      left hemispheres of the brain.<br />Left – Operates best through
      structure, sequence. Prefers language, is sequential, examines the
      elements, has number sense. Works to analyse or break down information.<br />Right
      – Operates out of being, comprehends images, seeks patterns, creates
      metaphors, is simultaneous. Strives to synthesize, consolidate
      information.The interplay between right and left is crucial to higher
      learning and thinking. It provides a greater depth of understanding and
      encourages creative expression and problem solving.
    </p>
    <div
      class="justify-content-center"
      style="margin-top: 5%; margin-bottom: 5%"
    >
      <img
        style="width: 45%; margin-left: 32.5%"
        src="../../../../assets/images_trainer/Kolb_Phases/right-left-mode.jpg"
      />
    </div>
    <h1 class="title">The Complete 4MAT Model</h1>
    <p class="text-justify" style="font-size: large">
      The complete model is an integration of learning styles and hemisphericity
      in a sequence that follows the natural cycle of learning.For real learning
      to take place, all parts of the learning cycle must be addressed, starting
      from one and moving around to four, answering the key question of each
      style:<br /><br />
      <span class="phase" style="color: rgb(210, 57, 65)">1.WHY?</span><br />
      <span class="phase" style="color: rgb(66, 86, 137)">2.WHAT?</span><br />
      <span class="phase" style="color: rgb(62, 140, 80)">3.HOW?</span><br />
      <span class="phase" style="color: rgb(255, 204, 82)">4.IF?</span>
    </p>
  </div>
  <div class="row" style="margin-top: 3%; margin-bottom: 5%">
    <img
      style="width: 30%; margin-left: 35.5%"
      src="../../../../assets/images_trainer/Kolb_Phases/introductionKolb2.PNG"
    />
  </div>
</div>
