<app-header></app-header>
<section id="about-part" class="pt-65">
  <div class="container">
    <div class="row">
      <div class="col-lg-5"></div>
      <!-- about cont -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
  <div class="about-bg">
    <img
      src="../../../../../../assets/images_courzelo_classroom/about/bg-1.png"
      alt="About"
    />
  </div>
</section>

<!--====== ABOUT PART ENDS ======-->

<!--====== APPLY PART START ======-->

<section id="apply-aprt" class="pb-120" style="margin-bottom: 15%">
  <div class="container">
    <div class="apply">
      <div class="row gutters">
        <div class="col-lg-4 cardTest">
          <div class="apply-cont apply-color-1">
            <h3>My learning</h3>
            <p>
              Gravida nibh vel velit auctor aliquetn sollicitudirem sem
              quibibendum auci elit cons equat ipsutis sem nibh id elituis sed
              odio sit amet nibh vulputate cursus equat ipsutis.
            </p>
            <a href="#" class="main-btn">Access</a>
          </div>
          <!-- apply cont -->
        </div>
        <div class="col-lg-4 cardTest">
          <div class="apply-cont apply-color-1">
            <h3>Courzelo Classroom</h3>
            <p>
              Gravida nibh vel velit auctor aliquetn sollicitudirem sem
              quibibendum auci elit cons equat ipsutis sem nibh id elituis sed
              odio sit amet nibh vulputate cursus equat ipsutis.
            </p>
            <a routerLink="/accueilclasses" class="main-btn">Access</a>
          </div>
          <!-- apply cont -->
        </div>
        <div class="col-lg-4 cardTest">
          <div class="apply-cont apply-color-1">
            <h3>Blog</h3>
            <p>
              Gravida nibh vel velit auctor aliquetn sollicitudirem sem
              quibibendum auci elit cons equat ipsutis sem nibh id elituis sed
              odio sit amet nibh vulputate cursus equat ipsutis.
            </p>
            <a href="#" class="main-btn">Access</a>
          </div>
          <!-- apply cont -->
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<app-footer></app-footer>
