<div class="main-div">
<div class="container">
  <div class="row">
    <div class="col">
      <mat-card (click)="GettoAddquiz()" class="pointer">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-2"><mat-icon>notes</mat-icon></div>
          <div class="p-2"><mat-card-title>Add Quiz</mat-card-title></div>
          <div class="p-2">
            <mat-card-content
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col">
      <mat-card (click)="GettoAddproject()" class="pointer">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-2"><mat-icon> local_parking</mat-icon></div>
          <div class="p-2"><mat-card-title>Add Project</mat-card-title></div>
          <div class="p-2">
            <mat-card-content
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.</mat-card-content
            >
          </div>
        </div>
      </mat-card>
    </div>
    <div class="w-100"></div>
    <br />
    <div class="col">
      <mat-card>
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-2"><mat-icon> insert_drive_file</mat-icon></div>
          <div class="p-2">
            <mat-card-title>Add Theorical use case</mat-card-title>
          </div>
          <div class="p-2">
            <mat-card-content
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-2"><mat-icon>assignment</mat-icon></div>
          <div class="p-2">
            <mat-card-title>Add Evaluation for trainer</mat-card-title>
          </div>
          <div class="p-2">
            <mat-card-content
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.</mat-card-content
            >
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
</div>
