





  .add-btn{
    margin-left: 550px
  }

  .add-btn2{
    margin-left: 200px
  }


  
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ffc600;
  padding: 0 35px;
  font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  line-height: 50px;
  border-radius: 5px;
    color: #07294d;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 5;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    background-color: #ffc600;
  }

.draganddrop{
  margin-left: 200px;
}


.example-list {
    width: 800px;
    max-width: 100%;
  /* border: solid 1px #ccc;*/
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  .example-list1{
    width: 700px;
   
  /* border: solid 1px #ccc;*/
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin-left: -190px;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    /*display: flex;*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .peticon{
    margin-left: 470px;  
  }

  .peticon1{
    margin-left: 500px;  
  }

  


  /* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {
   .add-btn{
     margin-left: 350px;
     
   }
   app-class-work-trainer{
     margin-left: -300px;
   }

   .draganddrop{
    margin-left: 100px;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {
  .add-btn{
    margin-left: 200px;
    
    
  }
  .draganddrop{
    margin-left: 50px;
  }

  .add-btn2{
    margin-left: 30px
  }
}


/* small mobile :320px. */
@media (min-width: 576px) and (max-width: 767.98px) {
  .add-btn{
    margin-left: 150px;
    
  }
  .draganddrop{
    margin-left: 30px;
  }
  .add-btn2{
    margin-left: 30px
  }
}
/* Large Mobile :480px. */
@media only screen and  (max-width: 575.98px) {
  .add-btn{
    margin-left: 50px;
    
  }
  .draganddrop{
    margin-left: 10px;
  }
  .add-btn2{
    margin-left: 30px
  }
    }
  
 

